auth-project/vendor/
.project
.buildpath
.settings/
auth-project/app/cache/
routes-project/vendor/
routes-project/app/cache/
translations-project/vendor/
translations-project/app/cache/
richclient-project/vendor/
richclient-project/app/cache/
di-project/vendor/
di-project/app/cache/
oauth-project/vendor/
oauth-project/app/cache/
richclient-project/.idea/
fileUpload-project/vendor/
fileUpload-project/app/cache/
fileUpload-project/.idea/
fileUpload-project/app/upload/
.idea/
sqlite-project/.ubiquity/
*.log
*.lock

